$fonttitle: Montserrat, Arial, Sans Serif !important;
$fontcontent: Lato, Arial, Sans Serif !important;
$white: #fff !important;

h1{
	font:{
		family: $fonttitle;
		weight: bold !important;
	}
  	text-shadow: 0 5px 5px rgba(#000, 1);
	color: $white;
	margin-bottom: 3rem !important;
}

h2{
	font:{
		family: $fonttitle;
		weight: bold !important;
	}
}

p, h4, h5, small, li{
	font-family: $fontcontent;
}

button{
	padding: 0 !important;
	margin: 1rem !important;
}

a{
	text-decoration: none !important;
	
}

.jumbotron{
	background-image: url(../img/backg.jpeg);
	background-repeat: no-repeat;
  	background-size: cover;
  	min-height: 100vh;  //mettre min-pour que la nav en-dessous reste dans le jumbotron
	padding-top: 10rem !important;
  	.container{
  		text-align: center;
  		background-color: rgba(#000, 0.7);
  		p{
  			color: $white;
  			font-size: 2rem;
  			text-shadow: 0 5px 5px rgba(#000, 1);
  		}
  	}
}

//Tous les liens
.lien{
	color: #000;
	&:hover{
		background-color: #AA00FF !important;
		color: $white;
		transition: 0.7s ease;
	}
}

nav{
	margin-top: 8%;
}

.card{
	width: 18rem !important;
		img{
			height: 12rem;
			&:hover{
				opacity: 0.5;
				transition: 0.8s;
			}
		}

		small{
			display: block;
			a{
				display: block;
				text-align: center ;
			}
		}
	}

.divider{
	width: 100px;
    height: 2px;
    background: #AA00FF;
    margin: 0 auto 0.9em;
}

.anchorLink{
	color: #AA00FF;
	border: 1px solid #AA00FF;
	padding: 10px !important;
	line-height: 10px !important;
	border-radius: 50% !important;
	margin: 1rem;
}


footer{
	background-color: #2C3E50;
	padding-top: 2rem;
	padding-bottom: 2rem;
	color: $white;

	a{
		line-height: 30px !important;
		border-radius: 100% !important;
	}
}

@media screen and (max-width: 900px) {
	.jumbotron h1{
		font-size: 3rem !important;
	}
	
	.lead{
	font-size: 1.5rem !important;
	}
}
