$fonttitle: Montserrat, Arial, Sans Serif !important;
$fontcontent: Lato, Arial, Sans Serif !important;
$white: #fff !important;

body{
	// background-color : #651FFF!important;
}

h1{
	font:{
		family : $fonttitle;
		weight : bold !important;
	}
	white-space: nowrap;
  	text-shadow: 0 5px 5px rgba(#000, 0.9);
	color: $white;
	margin-bottom : 3rem !important;
}

h2{
	display : inline-block !important;
	margin : 0 auto !important;
	font:{
		family : $fonttitle;
		weight : bold !important;
	}
}

p, h5, small{
	font-family : $fontcontent;

}

.jumbotron{
	background-image : url(../img/backg.jpeg);
	background-repeat: no-repeat;
  	background-size: cover;
  	height: 100vh;
	padding-top: 10rem !important;
  	.container{
  		text-align: center;
  		
  	}
}

nav{
	position : relative;
	margin-top : 8%;
}

.card-deck{
	margin-bottom : 2rem;

	.card{
	width : 18rem;
		img{
			height: 12rem;
		}
	}
}

footer{
	background-color : #2C3E50;
}


