$fonttitle: Montserrat, Arial, Sans Serif !important;
$fontcontent: Lato, Arial, Sans Serif !important;
$white: #fff !important;

h1{
	font:{
		family : $fonttitle;
		weight : bold !important;
	}
	white-space: nowrap;
  	text-shadow: 0 5px 5px rgba(#000, 0.9);
	color: $white;
	margin-bottom : 3rem !important;
}

h2{
	font:{
		family : $fonttitle;
		weight : bold !important;
	}
}

p, h5{
	font-family : $fontcontent;

}

.card-deck{
	margin-bottom : 2rem;

	.card{
	width : 18rem;
	}
}


.jumbotron{
	// background-image : url(../img/backg.jpeg);
	background-repeat: no-repeat;
  	background-size: cover;
  	height: 100vh;
	padding-top: 10rem !important;
  	.container{
  		text-align: center;
  		
  	}
}

nav{
	margin-top : 8%;
	
}

footer{
	background-color : #2C3E50;
}


